<!-- Validation failure messages -->
<% if @prompt.errors.any? %>
  <% @prompt.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Prompt</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_prompt" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"><%= @prompt.content %></textarea>
      </div>

      <!-- Label and input for instructor_id -->
      <input type="hidden" name="instructor_id" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Prompt
      </button>
      or
      <a href="/prompts">Cancel</a>
    </form>
  </div>
</div>
