<!-- Validation failure messages -->
<% if @assigned_prompt.errors.any? %>
  <% @assigned_prompt.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Assigned Prompt</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_assigned_prompt" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for prompt_id -->
      <div class="form-group">
        <label for="prompt_id" class="control-label">
          Prompt
        </label>

        <%= select_tag(:prompt_id, options_from_collection_for_select(Prompt.all, :id, :content, @assigned_prompt.prompt_id), :class => "form-control") %>
      </div>

      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="control-label">
          Student
        </label>

        <%= select_tag(:student_id, options_from_collection_for_select(Student.all, :id, :name, @assigned_prompt.student_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Assigned Prompt
      </button>
      or
      <a href="/assigned_prompts">Cancel</a>
    </form>
  </div>
</div>
