<div class="page-header">
  <h3>Instructor #<%= @instructor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @instructor.email %></dd>

      <dt>Password</dt>
      <dd><%= @instructor.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/instructors" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
